<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello, Node</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- this is a handlebars IF statement, checking for a custom "color" parameter set in server.js -->
    {{#if color}} 

    {{/if}}    
  </head>
  <body>
          
    <!-- the "what's your favorite color?" form sends a POST to the server, check server.js to see how it works -->
    <form class="color-search" method="post">
        <label for="color">
          <!-- we use the handlebars "#if" statement so the form can adapt to its situation -->
          {{#if color}}
            Try another color?<br>
          {{else}}
            What's your favorite color?<br>
          {{/if}}
          <input id="color" name="color" required="required" type="text">
        </label>

      <button type="submit">Submit</button>
    </form>

    <!-- this randomize link communicates with the server (server.js) using a querystring and GET request instead of a form POST -->
    Can't decide? <a href="?randomize=go">Use a random color!</a>
        
  </body>
</html>
